@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  width: 100vw;
  padding: 20px;
  background: #3a3a3a;
  color: #3c4858;
}

.appFrame {
  display: flex;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.columnTitle {
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px solid #515151;
  margin-bottom: 30px;
}

.Subjects,
.Books {
  width: 25%;
  padding: 20px;
}

.Subjects {
  background: #303439;
  color: #fff;
}

.Books {
  background: #e2e9ed;
  .BookListItem {
    margin-bottom: 20px;
  }
}

.BookDetails {
  width: 50%;
  padding: 20px;
}

.listItem {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  &:hover,
  &.active {
    background: #788d9a;
    cursor: pointer;
    color: #fff;
  }
}

.bookForm {
  width: 100%;
  display: flex;
  flex-flow: column;
  .formRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dee5ea;
    label {
      width: 20%;
      margin-right: 10px;
    }
    input {
      padding: 10px;
      border: 1px solid #dee5ea;
      border-radius: 4px;
      font-size: inherit;
      color: inherit;
      width: 80%;
      &[disabled] {
        cursor: not-allowed;
      }
    }
    .inputList {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      width: 80%;
      .inputItem {
        display: flex;
        width: 50%;
        margin-bottom: 10px;
        label {
          width: 50%;
        }
      }
      input {
        width: 50%;
      }
    }
  }
}

.author {
  width: 100%;
  .formRow {
    border-bottom: none;
    margin-bottom: 0px;
  }
}

.formContainer {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  .formatRow {
    width: 100%;
    margin-bottom: 30px;
    input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

input {
  box-sizing: border-box;
}
