// Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Family
$font-family: Roboto, sans-serif;

// Weights
$font-weight-bold: 700;
$font-weight-regular: 400;

// Sizes
$font-size-big: 25px;
$font-size-medium: 20px;
$font-size-regular: 16px;
$font-size-small: 13px;
