@import '../../styles/common/color';
@import '../../styles/common/typography';

.label {
  color: $grey-text-color;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  font-size: $font-size-small;
}
